/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;    
    background: url(resources/pexels-anna-shvets-4587960.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    
    background: rgba(179, 132, 150, 0.6);
    backdrop-filter: blur(2px);
}

.cabecalho-titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.cabecalho-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-nav-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    gap: 1em;
    font-size: 1em;
}

.nav-atual {
    background: linear-gradient(360deg, #8DACB3 50.65%, #BDF3FF 100%);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 4%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
    flex-wrap: wrap;
    background: rgba(179, 132, 150, 0.6);
    backdrop-filter: blur(2px);
}

.conteudo-principal-texto-item {
    font-family: 'Roboto';
    color: #FFFFFF;
}

.conteudo-principal-texto-p {
    font-family: 'Roboto';
    color: #FFFFFF;
}

.conteudo-principal-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 6%;
    align-items: center;
}

.conteudo-principal-img-botao{
    border: none;
    margin: 0;
    padding: 0;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 32px;

    color: #FFFFFF;
}

.conteudo-principal-img-file {
    padding: 70%;
    background: #523C53;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
}

.conteudo-secundario-botao {
    border: none;
    margin: 0;
    padding: 0;

    background: linear-gradient(360deg, #8DACB3 50.65%, #BDF3FF 100%);
    border: 1px solid #0D2829;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0.5em;
    margin: 1.5em;

    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: rgba(179, 132, 150, 0.6);
    backdrop-filter: blur(2px);
    padding: 1em;
}

.rodape-link {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.rodape-link-a {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}